<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Details</h1>
    <h2>
        <% users.forEach(user => {%>
           <h1> Name: <%= user.name %></h1>
           <h1> Id No: <%= user.id_no %></h1>
            <h1>Age: <%= user.age %></h1>
       <% }) %>
    </h2>
</body>
</html>